# PostgreSQL Database
POSTGRES_DB=linkdev_db
POSTGRES_USER=linkdev_admin
POSTGRES_PASSWORD=x9+lFj3vY42r

# Spring Boot Database Connection
DB_URL=jdbc:postgresql://localhost:5433/linkdev_db
DB_USERNAME=linkdev_admin
DB_PASSWORD=x9+lFj3vY42r

# JPA / Hibernate
JPA_DDL_AUTO=validate

# Server
SERVER_PORT=8080

# JWT
JWT_SECRET=GdgQLdo7xLff9qSLaM8PFqvVJ4IJrmvqoPdG2NKc6iY
JWT_EXPIRATION_MS=86400000
